IO_LOC "dac[15]" 38;
IO_PORT "dac[15]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[14]" 37;
IO_PORT "dac[14]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[13]" 36;
IO_PORT "dac[13]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[12]" 39;
IO_PORT "dac[12]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[11]" 25;
IO_PORT "dac[11]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[10]" 26;
IO_PORT "dac[10]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[9]" 27;
IO_PORT "dac[9]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[8]" 28;
IO_PORT "dac[8]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[7]" 29;
IO_PORT "dac[7]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[6]" 30;
IO_PORT "dac[6]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[5]" 33;
IO_PORT "dac[5]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[4]" 34;
IO_PORT "dac[4]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[3]" 40;
IO_PORT "dac[3]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[2]" 41;
IO_PORT "dac[2]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[1]" 42;
IO_PORT "dac[1]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "dac[0]" 55;
IO_PORT "dac[0]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

IO_LOC "mclk" 51;
IO_PORT "mclk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "clk_inh" 53;
IO_PORT "clk_inh" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ch_id[0]" 77; 
IO_PORT "ch_id[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ch_id[1]" 76;
IO_PORT "ch_id[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ch_id[2]" 48;
IO_PORT "ch_id[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "sys_rst_n" 3;
IO_PORT "sys_rst_n" PULL_MODE=UP;
IO_LOC "rev_sw" 4;
IO_PORT "rev_sw" PULL_MODE=UP;


IO_LOC "bck" 49;
IO_PORT "bck" DRIVE=12 IO_TYPE=LVCMOS33;
IO_LOC "wclk" 31;
IO_PORT "wclk" DRIVE=12 IO_TYPE=LVCMOS33;
IO_LOC "sdata" 32;
IO_PORT "sdata" DRIVE=12 IO_TYPE=LVCMOS33;


//IO_LOC "t1" 63;
//IO_PORT "t1" DRIVE=8;
//IO_LOC "t2" 86;
//IO_PORT "t2" DRIVE=8;
//IO_LOC "t3" 85;
//IO_PORT "t3" DRIVE=8;
//IO_LOC "t4" 84;
//IO_PORT "t4" DRIVE=8;
//IO_LOC "t5" 83;
//IO_PORT "t5" DRIVE=8;
//IO_LOC "t6" 82;
//IO_PORT "t6" DRIVE=8;
//IO_LOC "t7" 81;
//IO_PORT "t7" DRIVE=8;
//IO_LOC "t8" 80;
//IO_PORT "t8" DRIVE=8;

//IO_LOC "dtr" 54;
//IO_PORT "dtr" DRIVE=8;
//IO_LOC "read_fifo" ;
//IO_PORT "read_fifo" DRIVE=8;
//IO_LOC "full" 56;
//IO_PORT "full" DRIVE=8;
IO_LOC "dtw" 57;
IO_PORT "dtw" DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "dtr" 68;
IO_PORT "dtr" DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "drq" 69;
IO_PORT "drq" DRIVE=8 IO_TYPE=LVCMOS33;